<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="week7lab.css" />
</head>

<body>

    <img src="Logo.png" alt="FIT 2095" class="center">



    <h1>Welcome to the main page!</h1>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" id="homeAddDevs" href="/addDevs" role="button">Add developer</a>
        <a class="btn btn-info btn-lg" id="homeListDevs" href="/listDevs" role="button">List developers</a>
        <a class="btn btn-primary btn-lg" id="homeAddTask" href="/addTask" role="button">Add a new task</a>
        <a class="btn btn-primary btn-lg" id="homeInsertMany" href="/insertMany" role="button">Insert Many</a>
        <a class="btn btn-info btn-lg" id="homeListTask" href="/listTask" role="button">List tasks</a>
        <a class="btn btn-danger btn-lg" id="homeDeleteTask" href="/deleteTask" role="button">Delete Task</a>
        <a class="btn btn-warning btn-lg" id="homeDelAllCompleted" href="/delAllCompleted" role="button">Delete All</a>
        <a class="btn btn-success btn-lg" id="homeUpdateTask" href="/updateTask" role="button">Update Task</a>
    </div>
</body>

</html>