<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert Many Tasks</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="week7lab.css" />
</head>

<body>

    <h1>Add a new task below</h1>
    <div class="text-center">
        <a class="btn btn-warning btn-lg" id="home" href="/" role="button">Home</a>
        <a class="btn btn-primary btn-lg" id="homeAddDevs" href="/addDevs" role="button">Add developer</a>
        <a class="btn btn-info btn-lg" id="homeListDevs" href="/listDevs" role="button">List developers</a>
        <a class="btn btn-info btn-lg" id="homeListTask" href="/listTask" role="button">List tasks</a>
        <a class="btn btn-danger btn-lg" id="homeDeleteTask" href="/deleteTask" role="button">Delete Task</a>
        <a class="btn btn-warning btn-lg" id="homeDelAllCompleted" href="/delAllCompleted" role="button">Delete All</a>
        <a class="btn btn-success btn-lg" id="homeUpdateTask" href="/updateTask" role="button">Update Task</a>
    </div>

    <!--Form starts-->
    <form action="/formInsertMany" method="POST">
        <div class="form-center">
            <!--Task Name-->
            <div class="form-group col-md-5">
                <label for="inputTaskName">Task Name</label>
                <input type="text" name="newTask" class="form-control" id="inputTaskName"
                    aria-describedby="taskNameHelp" placeholder="Enter task name">

                <small id="taskNameHelp" class="form-text text-muted">Examples: Task123 ,Dinner, 1!2@3#......</small>
            </div>

            <!--Who will do the task-->
            <div class="form-group col-md-5">
                <label for="inputInCharge">Person in charge</label>
                <input type="text" name="newInCharge" class="form-control" id="inputInCharge"
                    aria-describedby="taskInChargeHelp" placeholder="Enter the person in charge of this task">
            </div>

            <!--Task Due Date-->
            <div class="form-group col-md-5">
                <label for="inputDueDate">Task Due</label>
                <input type="text" name="newDue" class="form-control" id="inputDueDate"
                    aria-describedby="taskDueDateHelp" placeholder="Enter the date">
            </div>

            <!--Task Description-->
            <div class="form-group col-md-5">
                <label for="inputTaskDesc">Task Desc</label>
                <input type="text" name="newDesc" class="form-control" id="inputTaskDesc"
                    aria-describedby="taskDescHelp" placeholder="Enter the description">
            </div>
            <!--Task Count-->
            <div class="form-group col-md-5">
                <label for="inputInsertMany">Count Number</label>
                <!--input type "text" or "number" doesn't matter-->
                <input type="text" name="newInsertMany" class="form-control" id="inputInsertMany"  
                    aria-describedby="taskInsertManyHelp" placeholder="Enter the count">
            </div>

            <!--Task Status-->
            <div class="form-group col-md-5">
                <label class="mr-sm-2" for="inputTaskStatus">Task Status</label>
                <select class="custom-select mr-sm-2" name="newStatus" id="newStatus">
                    <option selected>Choose...</option>
                    <option value="InProgress">InProgress</option>
                    <option value="Complete">Complete</option>
                </select>
            </div>
        </div>
        <!-- <div class="form-group col-md-5">               
                <label for="inputTaskStatus">Task Status</label>
                <input type="text" name="newStatus" class="form-control" id="inputTaskStatus" aria-describedby="taskStatusHelp"
                    placeholder="Select the Status">
            </div> -->

        <!--Task Submit button-->
        <div class="text-center">
            <button type="submit" class="btn btn-dark" id="Submit1">Submit</button>
        </div>


    </form>
    <!--Form ends-->

</body>

</html>