<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List All Tasks</title>


    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="week7lab.css" />

</head>

<body>


    <h1> List of developers</h1>
    <div class="text-center">
        <a class="btn btn-warning btn-lg" id="home" href="/" role="button">Home</a>
        <a class="btn btn-primary btn-lg" id="homeAddDevs" href="/addDevs" role="button">Add developer</a>
        <a class="btn btn-info btn-lg" id="homeListDevs" href="/listDevs" role="button">List developers</a>
        <a class="btn btn-danger btn-lg" id="homeDeleteDevs" href="/deleteDevs" role="button">Delete Developer</a>
        <a class="btn btn-primary btn-lg" id="homeAddTask" href="/addTask" role="button">Add a new task</a>
        <a class="btn btn-primary btn-lg" id="homeInsertMany" href="/insertMany" role="button">Insert Many</a>
        <a class="btn btn-info btn-lg"      id="homeListTask"   href="/listTask"    role="button">List tasks</a>
        <a class="btn btn-info btn-lg" id="homeListLimitedTask" href="/listTasksLimited" role="button">List limited tasks</a>
        <a class="btn btn-danger btn-lg" id="homeDeleteTask" href="/deleteTask" role="button">Delete Task</a>
        <a class="btn btn-warning btn-lg" id="homeDelAllCompleted" href="/delAllCompleted" role="button">Delete All</a>
        <a class="btn btn-success btn-lg" id="homeUpdateTask" href="/updateTask" role="button">Update Task</a>
    </div>
    </br>

    <h3>The tasks are:</h3>
    <!-- Table start -->
    <table class="table table-striped table-dark table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Developer ID</th>
                <th scope="col">Developer First Name</th>
                <th scope="col">Developer Last Name</th>
                <th scope="col">Developer Level</th>
                <th scope="col">State</th>
                <th scope="col">Suburb</th>
                <th scope="col">Street</th>
                <th scope="col">Unit</th>
            </tr>
        </thead>
        <tbody>
            <% for ( var i =0; i< devs.length;i++){ %>
            <tr>
                <td><%= devs[i]._id %></td>
                <td><%= devs[i].name.firstName %></td>
                <td><%= devs[i].name.lastName %></td>
                <td><%= devs[i].level %></td>
                <td><%= devs[i].address.state %></td>
                <td><%= devs[i].address.suburb %></td>
                <td><%= devs[i].address.street %></td>
                <td><%= devs[i].address.unit %></td>
            </tr>
            <% }%>
        </tbody>
    </table>
    <!-- Table end -->
</body>

</html>